<!doctype html>
<title>MP3 Fácil</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<div class=page>
  <h1 align="center">MP3 Fácil</h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <div  style="font-weight:bold;">
      <div style="float:left; font-size:20px;" >
        Bem vindo(a), {{session['user']}}. Seu saldo: R$ {{session['money']}}
      </div>
    </div>
    <a href="{{ url_for('logout') }}"><img src="static/logout.png" alt="SAIR"></a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
